<h1>Bulk Discounts</h1>
<div id="links">
  <p><%= link_to "Create new discount", new_merchant_discount_path(@merchant) %></p>
</div>
<hr>
<h3>All discounts</h3>
<div id="discounts">
  <% @discounts.each do |discount| %>
    <tr>
      <td><strong><%= link_to "#{discount.percentage_discount}% off #{discount.quantity_threshold} items", merchant_discount_path(discount.merchant, discount) %></strong>
      <%= button_to "Delete discount #{discount.id}", merchant_discount_path(discount.merchant, discount), method: :delete %></td><br>
    </tr>
  <% end %>
</div>
